source https://www.nuget.org/api/v2
content:none

nuget Fable.Core
nuget Fable.Import.Express
nuget Fable.Import.GoogleCloud

clitool dotnet-fable

group Build
    source https://www.nuget.org/api/v2
    nuget FAKE